#!/usr/bin/env bash

set -o pipefail

FANSPEED_MIN=40
NGPUS=$(lspci | grep '{{ gpu_model }}' | wc -l)

for GPU in $(seq 0 $(($NGPUS-1))); do
  current_speed=$(/usr/local/bin/ohgodatool -i $GPU --show-fanspeed | tr -d '%')

  if [ $? -ne 0 ]; then
    continue
  fi

  if [ $current_speed -lt $FANSPEED_MIN ]; then
    /usr/local/bin/ohgodatool -i $GPU --set-fanspeed $FANSPEED_MIN
  fi
done
