#! /usr/bin/env bash

CORE_CLOCK="{{ gpu_core_clock }}"
MEM_CLOCK="{{ gpu_mem_clock }}"
CORE_V_IDX="{{ gpu_vdc_idx }}"
FANSPEED="{{ gpu_fanspeed }}"
NGPUS=$(lspci | grep '{{ gpu_model }}' | wc -l)

for gpu in $(seq 0 $(($NGPUS-1))); do

  ohgodatool -i $gpu --set-fanspeed $FANSPEED
  ohgodatool -i $gpu --core-state 7 --core-vddc-idx $CORE_V_IDX \
    && ohgodatool -i $gpu --core-state 7 --core-clock $CORE_CLOCK \
    && ohgodatool -i $gpu --mem-state 2 --mem-clock $MEM_CLOCK

done
